.movieContainer{
    /* overflow: hidden; */
    width: 200px;
    /* height: 100%; */
    /* border-radius: 20px; */
    background-color: #e3e5ec;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    color: black;
}
.poster:hover {
    z-index: 10;
    transform: scale(1.1);
  }
  h4{
    margin: 0px;
    font-weight: 600;
  }
  h5{
    font-weight: 500;
  }
.poster{
    /* height: 400px;
    width:100%;
    object-fit:cover; */
    height: 300px;
    width: 200px;
    object-fit: cover;
    transition: 0.2s transform;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.details{
    /* margin: 0.5rem; */
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    text-align: center; */
    /* margin-bottom: 0px; */
}
.star-rating{
    display: flex;
    align-items: flex-start;
}
.star{
    color: gold;
}
.authorName{
    /* margin: 0.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.detailsContainer{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}