    .movieContainer{
        margin-top: 50px;
        background-color: #e3e5ec;
        color: black;
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
    }
    .details{
        /* margin: 0.5rem; */
        padding-top: 20px;
        text-align: center;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        /* place-content: center; */
        align-items: center;
    }

    .star{
        color: gold;
    }

    h1{
        text-align: center;
        display: flex;
        /* align-items: center; */
    }



img{
    display: flex;
    margin: 0 auto;
    height: 450px;
    object-fit: cover;
}

.authorName{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
}
.description{
    margin: 0.5rem;
    margin-top: 0px;
    padding-bottom: 1rem;
}
.likeDislike{
    margin: 0.5rem;
    display: flex;
    gap: 0.7rem;
}
.likeDislike>button{
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px; 
    text-align: center;
    background-color: #e3e5ec;
    /* border: none; */
    /* padding: 0%; */
    /* margin: 40px 2px; */
    /* font-size: 2rem; */
}
.bookmark{
    color: white;
font-size: 50px;
}
.unbookmark{
    color: blue;
    font-size: 50px;
    /* margin: 0 auto */
}

mat-icon{
         height: 50px;
     width: 40px;
}
.bookmarkBtn{
   background: none;
   border: none;
   padding: 25%;
   text-align: center;
   height: 50px;
   width: 50px;
}
.top{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
@media(min-width:400px){
    .movieContainer{
        margin-top: 70px;
      }
    
        .details{
             width: 100%;
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
        }
    
        .authorName{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        .description{
            padding-bottom: 1rem;
        }
        
    }