.movieContainer{
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    background-color: #e3e5ec;
    transition: 0.2s transform;
    color: black;
    /* padding: 30px; */
}

img{
    padding: 50px;
    display: flex;
    margin: 0 auto;
    height: 450px;
    object-fit: cover;
}
.details{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 200px; */
}
.authorName{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 200px; */

}
.description{
    margin: 0.5rem;
    padding-bottom: 2rem;
}
.likeDislike{
    margin: 0.5rem;
    display: flex;
    gap: 0.7rem;
}
.likeDislike>button{
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px; 
    text-align: center;
    background-color: #e3e5ec;
    /* border: none; */
    /* padding: 0%; */
    /* margin: 40px 2px; */
    /* font-size: 2rem; */
}