    .movieContainer{
        margin-top: 50px;
        background-color: #e3e5ec;
        color: black;
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
    }
    .details{
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        place-content: center;
        align-items: center;
    }

@media(min-width:400px){
.movieContainer{
    margin: 60px;
    overflow: hidden;
    width: 100%;
    padding: 0%;
    background-color: #e3e5ec;
    color: black;
    display: inline;
  }

    .details{
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .authorName{
        margin: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }

    .description{
        margin: 0.5rem;
        padding-bottom: 2rem;
    }
}

img{
    display: flex;
    margin: 0 auto;
    height: 450px;
    object-fit: cover;
}

.authorName{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
}
.description{
    margin: 0.5rem;
    margin-top: 0px;
    padding-bottom: 2rem;
}
.likeDislike{
    margin: 0.5rem;
    display: flex;
    gap: 0.7rem;
}
.likeDislike>button{
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px; 
    text-align: center;
    background-color: #e3e5ec;
    /* border: none; */
    /* padding: 0%; */
    /* margin: 40px 2px; */
    /* font-size: 2rem; */
}