.example-container {
    border: none;
  }
  body{
    position: relative;
  }
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3e5ec;
  }

  mat-icon,span,h1{
    color: #096daa;
  }

  .book{
    font-size: 80px;

  }
  mat-icon{
    font-size: 22px; 
  }

  .toolbar{
    position: fixed;
    /* top: 10px; */
    z-index: 2;
    width: 100%;
  }
  mat-toolbar{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .example-sidenav {
     user-select: none;
    background-color: #ffffff; 
    position: fixed;
    top: 50px;
  }
  .full-width {
    width: 100%;
  }
  .top-bar{
    padding: 0;
  }
  .icon-text{
    display: flex;
    align-items: center;
    /* gap: 5px; */
    text-align: center;
  }
