.example-container {
    /* height: 500px; */
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    /* width: 200px; */
    border: none;
  }
  header{
    position: sticky;
    top: 2px;
  }
  .example-sidenav-content {
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    background-color: #e3e5ec;
    
  }
  h1{
    color: black;
  }
  mat-icon,span{
    color: #096daa;
  }
  mat-toolbar{
    background-color: #ffffff;
  }
  .example-sidenav {
     user-select: none;
     /* width: 200px; */
    background-color: #ffffff; 
    /* color: black; */
    border: none;
  }
  .full-width {
    width: 100%;
  }
  
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }