<header class="toolbar">
  <mat-toolbar>
    <div class="top-bar">
      <button mat-button (click)="isExpanded = !isExpanded">
        <mat-icon class="book"> menu_book </mat-icon>
        <h1 class="example-app-name">Library</h1>
      </button>
    </div>
  </mat-toolbar>
</header>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <!-- <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>book_2</mat-icon>
      </button>
      <h1 class="example-app-name">Library</h1> -->
      <!-- <mat-list-item class="parent" (click)="isExpanded = !isExpanded"> -->
      <!-- <mat-icon>
          <span class="material-symbols-outlined"> menu_book </span>
        </mat-icon>
        <h1 class="example-app-name">Library</h1> -->
      <!-- <span class="full-width" *ngIf="isExpanded || isShowing">Library</span> -->
      <!-- <mat-icon mat-list-icon>menu_book</mat-icon> -->
      <!-- </button> -->
      <!-- </mat-list-item> -->
      <mat-list-item (click)="home()" class="parent">
        <div class="icon-text">
          <mat-icon mat-list-icon>home</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
        </div>
      </mat-list-item>
      <mat-list-item (click)="add()" class="parent">
        <div class="icon-text">
          <mat-icon mat-list-icon>add</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing"
            >Add Book</span
          >
        </div>
        <!-- <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
          >expand_more</mat-icon
        > -->
      </mat-list-item>
    </mat-nav-list>
    <!-- <mat-nav-list> </mat-nav-list> -->
  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
<!-- <router-outlet></router-outlet> -->
