<header class="toolbar">
  <mat-toolbar>
    <button mat-button (click)="isExpanded = !isExpanded">
      <mat-icon class="book"> menu_book </mat-icon>
      <h1 class="example-app-name">Library</h1>
    </button>
    <div class="left">
      <mat-nav-list>
        <mat-list-item (click)="home()" class="parent">
          <div class="icon-text">
            <mat-icon mat-list-icon>home</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="add()" class="parent">
          <div class="icon-text">
            <mat-icon mat-list-icon>add</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">
              Add Book
            </span>
          </div>
        </mat-list-item>
        <mat-list-item (click)="bookmarksList()" class="parent">
          <div class="icon-text">
            <mat-icon mat-list-icon>bookmarks</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">
              Bookmarks
            </span>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-toolbar>
</header>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item (click)="home()" class="parent">
        <div class="icon-text">
          <mat-icon mat-list-icon>home</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
        </div>
      </mat-list-item>
      <mat-list-item (click)="add()" class="parent">
        <div class="icon-text">
          <mat-icon mat-list-icon>add</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing"
            >Add Book</span
          >
        </div>
      </mat-list-item>
      <mat-list-item (click)="bookmarksList()" class="parent">
        <div class="icon-text">
          <mat-icon mat-list-icon>bookmarks</mat-icon>
          <span class="full-width" *ngIf="isExpanded || isShowing">
            Bookmarks
          </span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content">
    

    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
