.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 7rem;
    gap: 3rem;
    padding: 5%;
}
  .search-form{
    padding: 10px;
    /* width: 100vw; */
    display: flex;
    /* align-items: center; */
    /* margin: 0 auto; */
    /* background-color: black; */
    position: absolute;
    top: 60px;
    z-index: 100;
  }
  .search{
    /* width: 100%;
    background-color: black;
    position: fixed; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* justify-content: space-evenly; */
  }
  .searchBar{
    width: 80vw;
    height: 40px;
    border-radius: 1000px;
    border: none;
    padding-left: 30px;
    z-index: 100;
    /* margin: 0 auto; */   
  }
  .whole{
    /* display: flex;
    flex-direction: column; */
    /* gap: 100px; */
  }
  @media(min-width:400px){
    .searchBar{
      width: 300px;
      height: 50px;
      border-radius: 1000px;
      border: none;
      padding-left: 30px;
      z-index: 100;
    }
  }