.movies{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    margin-top: 2rem;
    gap: 3rem;
    /* overflow: scroll; */
    padding: 5%;
}
.example-full-width{
 
    left: 25%;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    /* background-color: #e3e5ec; */
    margin: 0 auto;
  }
  
  /* .example-full-width {
    width: 100%;
  } */

  .search-form{
    /* position: sticky;
    top: 100px; */
    display: flex;
    margin-top: 100px;
    justify-content : center;
    /* width: 200px; */
    /* margin-left :50%; */

  }
  .searchBar{
    width: 300px;
    height: 50px;
    border-radius: 1000px;
    border: none;
    /* text-align: center; */
    padding-left: 30px;
  }
  